:root {
  --title-title-1-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-1-regular-font-weight: 400;
  --title-title-1-regular-font-size: 72px;
  --title-title-1-regular-letter-spacing: -0.800000011920929px;
  --title-title-1-regular-line-height: 88px;
  --title-title-1-regular-font-style: normal;
  --title-title-1-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-1-semibold-font-weight: 600;
  --title-title-1-semibold-font-size: 72px;
  --title-title-1-semibold-letter-spacing: -0.800000011920929px;
  --title-title-1-semibold-line-height: 88px;
  --title-title-1-semibold-font-style: normal;
  --title-title-1-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-1-bold-font-weight: 700;
  --title-title-1-bold-font-size: 72px;
  --title-title-1-bold-letter-spacing: -0.800000011920929px;
  --title-title-1-bold-line-height: 88px;
  --title-title-1-bold-font-style: normal;
  --title-title-2-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-2-regular-font-weight: 400;
  --title-title-2-regular-font-size: 64px;
  --title-title-2-regular-letter-spacing: -0.800000011920929px;
  --title-title-2-regular-line-height: 76px;
  --title-title-2-regular-font-style: normal;
  --title-title-2-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-2-semibold-font-weight: 600;
  --title-title-2-semibold-font-size: 64px;
  --title-title-2-semibold-letter-spacing: -0.800000011920929px;
  --title-title-2-semibold-line-height: 76px;
  --title-title-2-semibold-font-style: normal;
  --title-title-2-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --title-title-2-bold-font-weight: 700;
  --title-title-2-bold-font-size: 64px;
  --title-title-2-bold-letter-spacing: -0.800000011920929px;
  --title-title-2-bold-line-height: 76px;
  --title-title-2-bold-font-style: normal;
  --heading-h2-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h2-medium-font-weight: 500;
  --heading-h2-medium-font-size: 48px;
  --heading-h2-medium-letter-spacing: -0.4000000059604645px;
  --heading-h2-medium-line-height: 58px;
  --heading-h2-medium-font-style: normal;
  --heading-h2-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h2-semi-bold-font-weight: 600;
  --heading-h2-semi-bold-font-size: 48px;
  --heading-h2-semi-bold-letter-spacing: -0.4000000059604645px;
  --heading-h2-semi-bold-line-height: 58px;
  --heading-h2-semi-bold-font-style: normal;
  --heading-h2-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-font-size: 48px;
  --heading-h2-bold-letter-spacing: -0.4000000059604645px;
  --heading-h2-bold-line-height: 58px;
  --heading-h2-bold-font-style: normal;
  --heading-h3-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h3-medium-font-weight: 500;
  --heading-h3-medium-font-size: 40px;
  --heading-h3-medium-letter-spacing: -0.30000001192092896px;
  --heading-h3-medium-line-height: 48px;
  --heading-h3-medium-font-style: normal;
  --heading-h3-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h3-semi-bold-font-weight: 600;
  --heading-h3-semi-bold-font-size: 40px;
  --heading-h3-semi-bold-letter-spacing: -0.30000001192092896px;
  --heading-h3-semi-bold-line-height: 48px;
  --heading-h3-semi-bold-font-style: normal;
  --heading-h3-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 40px;
  --heading-h3-bold-letter-spacing: -0.30000001192092896px;
  --heading-h3-bold-line-height: 48px;
  --heading-h3-bold-font-style: normal;
  --heading-h4-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h4-medium-font-weight: 500;
  --heading-h4-medium-font-size: 32px;
  --heading-h4-medium-letter-spacing: -0.20000000298023224px;
  --heading-h4-medium-line-height: 38px;
  --heading-h4-medium-font-style: normal;
  --heading-h4-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h4-semi-bold-font-weight: 600;
  --heading-h4-semi-bold-font-size: 32px;
  --heading-h4-semi-bold-letter-spacing: -0.20000000298023224px;
  --heading-h4-semi-bold-line-height: 38px;
  --heading-h4-semi-bold-font-style: normal;
  --heading-h4-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h4-bold-font-weight: 700;
  --heading-h4-bold-font-size: 32px;
  --heading-h4-bold-letter-spacing: -0.20000000298023224px;
  --heading-h4-bold-line-height: 38px;
  --heading-h4-bold-font-style: normal;
  --heading-h5-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h5-medium-font-weight: 500;
  --heading-h5-medium-font-size: 24px;
  --heading-h5-medium-letter-spacing: -0.15000000596046448px;
  --heading-h5-medium-line-height: 30px;
  --heading-h5-medium-font-style: normal;
  --heading-h5-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h5-semi-bold-font-weight: 600;
  --heading-h5-semi-bold-font-size: 24px;
  --heading-h5-semi-bold-letter-spacing: -0.15000000596046448px;
  --heading-h5-semi-bold-line-height: 30px;
  --heading-h5-semi-bold-font-style: normal;
  --heading-h5-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 24px;
  --heading-h5-bold-letter-spacing: -0.15000000596046448px;
  --heading-h5-bold-line-height: 30px;
  --heading-h5-bold-font-style: normal;
  --heading-h6-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h6-medium-font-weight: 500;
  --heading-h6-medium-font-size: 20px;
  --heading-h6-medium-letter-spacing: 0px;
  --heading-h6-medium-line-height: 24px;
  --heading-h6-medium-font-style: normal;
  --heading-h6-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h6-semi-bold-font-weight: 600;
  --heading-h6-semi-bold-font-size: 20px;
  --heading-h6-semi-bold-letter-spacing: 0px;
  --heading-h6-semi-bold-line-height: 24px;
  --heading-h6-semi-bold-font-style: normal;
  --heading-h6-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h6-bold-font-weight: 700;
  --heading-h6-bold-font-size: 20px;
  --heading-h6-bold-letter-spacing: 0px;
  --heading-h6-bold-line-height: 24px;
  --heading-h6-bold-font-style: normal;
  --body-body-1-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-1-regular-font-weight: 400;
  --body-body-1-regular-font-size: 18px;
  --body-body-1-regular-letter-spacing: 0px;
  --body-body-1-regular-line-height: 28px;
  --body-body-1-regular-font-style: normal;
  --body-body-1-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-1-bold-font-weight: 700;
  --body-body-1-bold-font-size: 18px;
  --body-body-1-bold-letter-spacing: 0px;
  --body-body-1-bold-line-height: 28px;
  --body-body-1-bold-font-style: normal;
  --body-body-2-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-2-regular-font-weight: 400;
  --body-body-2-regular-font-size: 16px;
  --body-body-2-regular-letter-spacing: 0px;
  --body-body-2-regular-line-height: 24px;
  --body-body-2-regular-font-style: normal;
  --body-body-2-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-2-semibold-font-weight: 600;
  --body-body-2-semibold-font-size: 16px;
  --body-body-2-semibold-letter-spacing: 0px;
  --body-body-2-semibold-line-height: 24px;
  --body-body-2-semibold-font-style: normal;
  --body-body-3-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-3-regular-font-weight: 400;
  --body-body-3-regular-font-size: 14px;
  --body-body-3-regular-letter-spacing: 0px;
  --body-body-3-regular-line-height: 20px;
  --body-body-3-regular-font-style: normal;
  --body-body-3-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-body-3-semibold-font-weight: 600;
  --body-body-3-semibold-font-size: 14px;
  --body-body-3-semibold-letter-spacing: 0px;
  --body-body-3-semibold-line-height: 20px;
  --body-body-3-semibold-font-style: normal;
  --label-label-1-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --label-label-1-regular-font-weight: 400;
  --label-label-1-regular-font-size: 16px;
  --label-label-1-regular-letter-spacing: -0.18000000715255737px;
  --label-label-1-regular-line-height: 22px;
  --label-label-1-regular-font-style: normal;
  --label-label-1-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --label-label-1-medium-font-weight: 500;
  --label-label-1-medium-font-size: 16px;
  --label-label-1-medium-letter-spacing: -0.18000000715255737px;
  --label-label-1-medium-line-height: 22px;
  --label-label-1-medium-font-style: normal;
  --label-label-1-semi-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --label-label-1-semi-bold-font-weight: 600;
  --label-label-1-semi-bold-font-size: 16px;
  --label-label-1-semi-bold-letter-spacing: -0.18000000715255737px;
  --label-label-1-semi-bold-line-height: 22px;
  --label-label-1-semi-bold-font-style: normal;
  --shadow: 0px 4px 12px 0px rgba(14, 18, 27, 0.08);
}
